<template>
  <div class="welcome-body">
    <div class="claim-bg">
      <div class="overlay"></div>
    </div>
    <div class="container claim-main">
      <div class="row">
        <div class="col-md-6 offset-md-3 space-below">
          <router-link to="/">
            <img src="../../assets/logo_artist.png" class="img-fluid mb-4" alt="Zema|Artist Logo" />
          </router-link>
        </div>
        <div class="col-md-8 offset-md-2 mt-5 mb-3">
          <h1 class="claim-main-text">What profile are you claiming?</h1>
          <p>
            If you already have music on Zema, you can get access to stats, pitch tracks to our editors, and more.
            Only claim 1 profile at a time and wait until you get access before claiming another.
          </p>
        </div>
        <div class="col-md-6 offset-md-3">
          <div class="form-group zema-text-input-group-claim input-group mt-5">
            <div class="input-group-append">
              <span class="input-group-text zema-text-input-group-btn">
                <font-awesome-icon icon="search" />
              </span>
            </div>
            <input
              type="text"
              class="form-control zema-text-input-claim-search"
              placeholder="Search for an artist name or paste a zema artist URL"
              aria-label="Search"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ClaimProfileComponent",
  data() {
    return {};
  }
};
</script>

