<template>
  <div class="welcome-body">
    <div class="auth-bg">
      <div class="auth-overlay"></div>
    </div>
    <div class="auth-container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <router-link to="/claim" class="btn btn-block auth-topleft-btn">
                Claim your Profile
                <font-awesome-icon icon="user-circle" />
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-7">
              <router-link to="/">
                <img
                  src="../../assets/logo_artist.png"
                  class="img-fluid mb-4"
                  alt="Zema|Artist Logo"
                />
              </router-link>
            </div>
          </div>

          <h1 class="auth-main-title">Forgot Password?</h1>
          <p
            class="text-left"
          >Enter your Zema username, or the email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>

          <form action class="mt-4">
            <div class="form-group zema-text-input-group">
              <input type="text" placeholder="Email Address" class="form-control zema-text-input" />
            </div>

            <div class="row mt-4">
              <div class="col-md-6 offset-md-3">
                <button class="btn btn-block auth-btn-selected">
                  Send
                  <font-awesome-icon icon="paper-plane" />
                </button>
              </div>
            </div>
          </form>

          <hr class="mb-5 mt-5" />
          <div class="row mb-4">
            <div class="col-md-6">
              <p class="zema-account-text">Don't have an account?</p>
              <router-link to="/signup" class="btn btn-block signup-link-account">Sign up for Zema</router-link>
            </div>
            <div class="col-md-6">
              <p class="zema-account-text">Already have an account?</p>
              <router-link to="/login" class="btn btn-block signup-link-account">Login To Zema</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ForgotPasswordComponent"
};
</script>

<style>
</style>
