<template>
  <div class="welcome-body">
    <div class="auth-bg">
      <div class="auth-overlay"></div>
    </div>
    <div class="auth-container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <router-link to="/claim" class="btn btn-block auth-topleft-btn">
                Claim your Profile
                <font-awesome-icon icon="user-circle" />
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-7">
              <router-link to="/">
                <img
                  src="../../assets/logo_artist.png"
                  class="img-fluid mb-4"
                  alt="Zema|Artist Logo"
                />
              </router-link>
            </div>
          </div>

          <h1 class="auth-main-title">Sign In</h1>
          <p class="auth-mini-description">To continue, log in to Zema.</p>
          <div class="row mb-4">
            <div class="col-md-6">
              <button class="btn btn-block btn-facebook">
                <font-awesome-icon :icon="['fab', 'facebook']" size="lg" class="mr-4" />Continue with facebook
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-block btn-google-plus">
                <font-awesome-icon :icon="['fab', 'google-plus-g']" size="lg" class="mr-4" />Continue with Google
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <hr />
              <span class="omb_spanOr">or</span>
            </div>
          </div>
          <form action class="mt-4">
            <div class="form-group zema-text-input-group">
              <input type="text" placeholder="Email Address" class="form-control zema-text-input" />
            </div>
            <div class="input-group zema-text-input-group">
              <input
                :type="currentPasswordVisibility"
                placeholder="Password"
                class="form-control zema-text-input"
              />
              <div class="input-group-append zema-clickable">
                <span
                  class="input-group-text zema-text-input-group-btn"
                  @click="passwordVisibility()"
                >
                  <p
                    v-if="currentPasswordVisibility == 'text'"
                    class="zema-password-visibility-text"
                  >Hide</p>
                  <p
                    v-if="currentPasswordVisibility == 'password'"
                    class="zema-password-visibility-text"
                  >Show</p>
                </span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="custom-control custom-checkbox text-left mt-2">
                  <input type="checkbox" class="custom-control-input" id="customCheck1" />
                  <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-block auth-btn-selected">
                  Login
                  <font-awesome-icon icon="key" />
                </button>
              </div>
            </div>
          </form>
          <div class="row mt-4">
            <div class="col-md-12">
              <p class="text-center">
                <router-link to="/forgot-password" class="zema-forgot-password-text">
                  Forgot your
                  <strong>password</strong>?
                </router-link>
              </p>
            </div>
          </div>
          <hr />
          <div class="row mb-4">
            <div class="col-md-12">
              <p class="zema-account-text">Don't have an account?</p>
              <router-link to="/signup" class="btn btn-block signup-link-account">Sign up for Zema</router-link>
            </div>
          </div>
          <hr />
          <p class="mt-4">
            If you click "Continue with Facebook or Google" and are not a Zema user, you will be registered and you agree to Zema's
            <router-link to="/" class="footer-auth-link">Terms & Conditions</router-link>&nbsp;and
            <router-link to="/" class="footer-auth-link">Privacy Policy.</router-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginComponent",
  data() {
    return {
      currentPasswordVisibility: "password"
    };
  },
  methods: {
    passwordVisibility() {
      this.currentPasswordVisibility == "password"
        ? (this.currentPasswordVisibility = "text")
        : (this.currentPasswordVisibility = "password");
    }
  }
};
</script>

<style>
</style>
