<template>
  <div class="welcome-body">
    <div class="auth-bg">
      <div class="auth-overlay"></div>
    </div>
    <div class="auth-container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <router-link to="/claim" class="btn btn-block auth-topleft-btn">
                Claim your Profile
                <font-awesome-icon icon="user-circle" />
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-7">
              <router-link to="/">
                <img
                  src="../../assets/logo_artist.png"
                  class="img-fluid mb-4"
                  alt="Zema|Artist Logo"
                />
              </router-link>
            </div>
          </div>

          <h1 class="auth-main-title mb-4">Sign Up</h1>
          <div class="row mb-4">
            <div class="col-md-6">
              <button class="btn btn-block btn-facebook">
                <font-awesome-icon :icon="['fab', 'facebook']" size="lg" class="mr-4" />Continue with facebook
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-block btn-google-plus">
                <font-awesome-icon :icon="['fab', 'google-plus-g']" size="lg" class="mr-4" />Continue with Google
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <hr />
              <span class="omb_spanOr">or</span>
            </div>
          </div>
          <form action class="mt-4">
            <div class="form-group zema-text-input-group">
              <input type="text" placeholder="Email Address" class="form-control zema-text-input" />
            </div>
            <div class="form-group zema-text-input-group">
              <input
                type="text"
                placeholder="Confirm Email Address"
                class="form-control zema-text-input"
              />
            </div>
            <div class="form-group input-group zema-text-input-group">
              <input
                :type="currentPasswordVisibility"
                placeholder="Password"
                class="form-control zema-text-input"
              />
              <div class="input-group-append zema-clickable">
                <span
                  class="input-group-text zema-text-input-group-btn"
                  @click="passwordVisibility()"
                >
                  <p
                    v-if="currentPasswordVisibility == 'text'"
                    class="zema-password-visibility-text"
                  >Hide</p>
                  <p
                    v-if="currentPasswordVisibility == 'password'"
                    class="zema-password-visibility-text"
                  >Show</p>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group zema-text-input-group input-group">
                  <datepicker
                    v-model="birthdate.date"
                    wrapper-class="zema-date-wrapper"
                    input-class="form-control zema-text-input"
                    calendar-class="zema-text-input-date"
                  ></datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text zema-text-input-group-btn">
                      <p class="zema-label-text">Date of Birth</p>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group zema-text-input-group">
              <input
                type="text"
                placeholder="What should we call you?"
                class="form-control zema-text-input"
              />
            </div>

            <div class="zema-gender">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline1"
                  name="customRadioInline1"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadioInline1">Male</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline2"
                  name="customRadioInline1"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadioInline2">Female</label>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-6 offset-md-3">
                <button class="btn btn-block auth-btn-selected">Sign Up</button>
              </div>
            </div>
          </form>
          <hr />
          <div class="row mt-2">
            <div class="col-md-12">
              <p class="zema-account-text-in">
                Already have an account?
                <router-link to="/login">Sign in</router-link>
              </p>
            </div>
          </div>
          <hr />
          <p class>
            By clicking on Sign up, you agree to Spotify's
            <router-link to="/" class="footer-auth-link">Terms & Conditions</router-link>&nbsp;of Use.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SignupComponent",
  data() {
    return {
      currentPasswordVisibility: "password",
      birthdate: {
        date: new Date()
      }
    };
  },
  methods: {
    passwordVisibility() {
      this.currentPasswordVisibility == "password"
        ? (this.currentPasswordVisibility = "text")
        : (this.currentPasswordVisibility = "password");
    }
  }
};
</script>

<style>
</style>
