<template>
  <div class="welcome-body">
    <div class="welcome-bg">
      <div class="overlay"></div>
    </div>
    <div class="container welcome-main">
      <div class="welcome-title-container">
        <div class="row">
          <div class="col-md-12">
            <a href="/">
              <img src="../../assets/logo_artist.png" class="img-fluid" alt />
            </a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <h1 class="welcome-title">Welcome To Our Music Platform</h1>
          </div>
        </div>
        <br />
        <hr />
        <br />
        <br />
        <div class="row welcome-btn-container">
          <div class="col-md-4">
            <router-link to="/login" class="btn btn-block btn-custom">
              Login
              <font-awesome-icon icon="key" />
            </router-link>
          </div>
          <div class="col-md-4">
            <router-link to="/claim" class="btn btn-block btn-custom">
              Claim your Profile
              <font-awesome-icon icon="user-circle" />
            </router-link>
          </div>
          <div class="col-md-4">
            <button class="btn btn-block btn-selected">
              Explore
              <font-awesome-icon icon="external-link-alt" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "WelcomeComponent",
  data() {
    return {};
  }
};
</script>

