body,
html {
  height: 100vh;
  margin: 0;
  font: 400 15px/1.8 "Raleway", sans-serif;
  color: #777;
}
p {
  color: #313640 !important;
}
/**
*------------------
* Welcome Component
*------------------
*/
/* .overlay {
  background: linear-gradient(
    rgba(250, 250, 250, 0.99),
    rgba(250, 250, 250, 0.7)
  );
  height: 100vh;
  position: absolute;
  z-index: 1;
  width: 100vw;
  filter: blur(1px);
} */

.overlay {
  height: 100vh;
  width: 100vw;
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  background: inherit;
  overflow: hidden;
}
.overlay::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 100px 100px 2000px 2000px rgba(255, 255, 255, 0.85);
  filter: blur(8px);
  margin: -20px;
}
.welcome-body {
  height: 100vh;
}
.welcome-bg {
  filter: blur(10px);
  z-index: 0;
  background-image: url("../img/gray-scale-photo-of-man-lifted-by-people-holding-167579.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 100vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
}
.welcome-main {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  z-index: 1;
}
.welcome-title {
  font-size: 80px;
  line-height: 100px;
  text-align: left;
  font-weight: 100;
  color: #313640;
  letter-spacing: 1px;
}
.welcome-btn-container {
  padding-left: 1%;
}
.welcome-title-container {
  padding-left: 25%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.contain-logo {
  width: auto;
  height: 60%;
}
.btn-custom {
  border: #313640 solid 0.5px;
  color: #313640;
  font-size: 18px;
  font-weight: 600;
  box-shadow: none;
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
  background: #f2b035;
  border: #f2b035 solid 0.5px;
  font-weight: 600;
  font-size: 18px;
  color: #313640;
  box-shadow: 1px 8px 8px 3px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.5s;
}
.btn-selected {
  background: #f2b035;
  border: #f2b035 solid 0.5px;
  font-weight: 600;
  font-size: 18px;
  color: #313640;
  box-shadow: none;
}
.btn-selected:hover,
.btn-selected:active,
.btn-selected:focus {
  border: #313640 solid 0.5px;
  color: #fff;
  background: #313640;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 8px 9px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

/**
*=====================
* Auth
*======================
*/
.auth-bg {
  background-image: url("../img/black-headphones-with-mobile-smartphone-6320.jpg");
  height: 100vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: left;
}

.auth-overlay {
  height: 100vh;
  width: 50vw;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background: inherit;
  overflow: hidden;
}
.auth-overlay::before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px 2000px rgba(255, 255, 255, 0.8);
  filter: blur(15px);
  margin: -20px;
}

.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px 30px 20px 130px;
}

.auth-topleft-btn {
  background: #f2b035;
  border: #f2b035 solid 0.5px;
  font-weight: 600;
  font-size: 18px;
  color: #313640;
  box-shadow: none;
}
.auth-topleft-btn:hover,
.auth-topleft-btn:active,
.auth-topleft-btn:focus {
  border: #fff solid 0.5px;
  color: #313640;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 8px 9px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.auth-main-title {
  font-size: 40px;
  font-weight: 900;
  color: #313640;
  text-align: left;
}
.auth-mini-description {
  font-size: 24px;
  font-weight: 100;
  text-align: left;
}
.space-below {
  margin-bottom: 40px;
}
.btn-facebook {
  background-color: #3a61b340;
  color: #3b5998;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:hover {
  background-color: #3b5998;
  color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
.btn-google-plus {
  background-color: #dc493d40;
  color: #c13b2d;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-google-plus:active,
.btn-google-plus:focus,
.btn-google-plus:hover {
  background-color: #c13b2d;
  color: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: 0em;
  margin-left: -1.5em;
  background-color: #313640;
  color: white;
  font-weight: 700;
  border-radius: 10%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  width: 3em;
  text-align: center;
}

.zema-text-input {
  padding: 25px 20px;
  border: none;
  background-color: #fff !important;
}

.zema-date-wrapper {
  background-color: white;
  max-width: 100%;
  width: 32vw;
}
.zema-text-input:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.zema-text-input-group {
  border-color: none;
}
.zema-text-input-group:focus-within {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: ease-in 0.5s;
}

.zema-clickable {
  cursor: pointer;
}
.zema-text-input-group-btn {
  background-color: white;
  border: none;
}

.zema-password-visibility-text {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.custom-control-label {
  font-size: 15px;
  font-weight: 700;
  color: #31364090;
}

.zema-forgot-password-text {
  font-size: 18px;
  color: #313640;
  font-weight: 400;
}

.zema-forgot-password-text:hover {
  text-decoration: none;
  color: #313640;
}

.zema-account-text {
  font-size: 20px;
  font-weight: 900;
}

.auth-btn-selected {
  background: #f2b035;
  border: #f2b035 solid 0.5px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #313640;
  box-shadow: none;
}
.auth-btn-selected:hover,
.auth-btn-selected:active,
.auth-btn-selected:focus {
  border: #313640 solid 0.5px;
  color: #fff;
  background: #313640;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 8px 9px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.signup-link-account {
  border: #313640 solid 0.5px;
  color: #fff;
  background: #313640;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  box-shadow: 1px 8px 1rem rgba(0, 0, 0, 0.1);
}

.signup-link-account:hover,
.signup-link-account:active,
.signup-link-account:focus {
  border: #fff solid 0.5px;
  color: #313640;
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 1px 8px 9px 3px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.footer-auth-link {
  color: #f5a01d;
}
.footer-auth-link:hover {
  color: #f5a01d;
}

.zema-label-text {
  text-align: left !important;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
}
.zema-gender {
  text-align: left;
}
.zema-account-text-in {
  font-size: 18px;
}
.zema-account-text-in a {
  text-decoration: none;
  color: #313640;
}
.zema-text-input-date {
  padding: 0px !important;
}
.claim-bg {
  background-image: url("../img/black-headphones-with-mobile-smartphone-6320.jpg");
  height: 100vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: left;
}
.claim-main {
  display: inline-flexbox;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  margin-top: 50px;
}
.claim-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #313640;
}
.zema-text-input-claim-search {
  padding: 25px 20px;
  border: none;
  background-color: #fff !important;
}
.zema-text-input-claim-search:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.zema-text-input-group-claim {
  border-color: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
